/* Main Page Layout */
.supplier-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 6vh); /* Adjust for header height */
    padding: 2rem;
    background-color: #f4f4f4;
}

/* Search Bar */
.search-bar {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

#search-suppliers {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    color: #333;
}

#search-suppliers:focus {
    border-color: #7a6fbe;
}