<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/non-specific/global.css">
    <link rel="stylesheet" href="/css/non-specific/header.css">
    <link rel="stylesheet" href="/css/customer/c-dashboard.css">
    <link rel="stylesheet" href="/css/customer/c-account-menu.css">
</head>
<body>

<header class="header">
    <div class="logo-container">
        <a href="/"><img src="/images/logo_for_slides.png" class="logo" alt="HexaTrace Logo"></a>
        <h4>CUSTOMER</h4>
    </div>

    <nav class="navbar">
        <a href="/customer/dashboard" class="nav-link active">Dashboard</a>
        <a href="/customer/suppliers" class="nav-link">Suppliers</a>
        <a href="/customer/deliveries" class="nav-link">Deliveries</a>
    </nav>

    <div class="account-wrapper">
        <a href="#" id="account-toggle">
            👤 Hallo <span th:text="${session.username}">Benutzer</span> ▼
          </a>
        <div class="dropdown-menu" id="account-menu">
            <a href="/account">Profil</a>
            <a href="/settings">Einstellungen</a>
            <form th:action="@{/user/logout}" method="post">
                <button type="submit" class="dropdown-btn">Logout</button>
            </form>
        </div>
    </div>
</header>

<div id="content-div">
    <p>Homepage for the Customer</p>
</div>


<script src="/javascript/c-account-menu.js"></script>
</body>
</html>