<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Login Page</h1>

<div th:if="${loginError}" style="color: red; font-weight: bold;">
    <p th:text="${loginError}"></p>
</div>

<form th:action="@{/user/login}" th:object="${user}" method="post">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username" required/>

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" required/>



    <button type="submit">Login</button>
</form>

</body>
</html>