<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliveries</title>
    <link rel="stylesheet" href="/css/non-specific/global.css">
    <link rel="stylesheet" href="/css/non-specific/header.css">
    <link rel="stylesheet" href="/css/supplier/s-deliveries.css">
    <link rel="stylesheet" href="/css/non-specific/deliveries-filter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/account-menu.css">
    <link rel="stylesheet" href="/css/supplier/s-deliveries-side-pop.css">
    <link rel="stylesheet" href="/css/supplier/s-deliveries-camera-visual.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="logo-container">
        <a href="/"><img src="/images/icons/logo_for_slides.png" class="logo" alt="HexaTrace Logo"></a>
        <h4>SUPPLIER</h4>
    </div>

    <nav class="navbar">
        <a href="/supplier/dashboard" class="nav-link">Dashboard</a>
        <a href="#" class="nav-link">Customers</a>
        <a href="/supplier/deliveries" class="nav-link active">Deliveries</a>
    </nav>
    <div class="account-wrapper">
        <a href="#" id="account-toggle">
            👤 Hello <span th:text="${session.username}">User</span> ▼
        </a>
        <div class="dropdown-menu" id="account-menu">
            <a href="/supplier/account">Profile</a>
            <a href="/supplier/settings">Settings</a>
            <form th:action="@{/user/logout}" method="post">
                <button type="submit" class="dropdown-btn">Logout</button>
            </form>
        </div>
    </div>

    <div class="menu-toggle" id="menu-toggle">
        &#9776;
    </div>
</header>

<div id="wrapper-side-popup">
    <div id="side-popup-details">
        <section id="side-popup-start">
            <div id="popup-title-close">
                <button onclick=toggleSidebar() id="closeBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/></svg>
                </button>
                <span id="popup-title" class="popup-title">Detail View</span>
            </div>
            <div class="data-card-holder">
                <!-- Order Details -->
                <div class="data-card" id="shipment-data">
                    <h4>Order Information</h4>
                    <p><strong>Shipment Ref:</strong> <span id="span-erpreferencenumber"></span></p>
                    <p><strong>DDS Ref:</strong> <span id="span-ddsreferencenumber"></span></p>
                    <p><strong>DDS on Delivery:</strong> <span id="span-ddsondeliverynote"></span></p>
                    <p><strong>Order Date:</strong> <span id="span-orderdate"></span></p>
                    <p><strong>Expected Delivery Date:</strong> <span id="span-estimateddeliverydate"></span></p>
                    <p><strong>Order Amount:</strong> Placeholder</p>
                    <p><strong>Order Dimensions:</strong> <span id="span-orderdimensions"></span></p>
                </div>

                <!-- Customer Information -->
                <div class="data-card" id="customer-info">
                    <h4>Customer Information</h4>
                    <p><strong>Customer Name:</strong> <span id="span-customername"></span></p>
                    <p><strong>Customer Location:</strong> <span id="span-customerlocation"></span></p>
                </div>

                <!-- Product Information -->
                <div class="data-card" id="product-info">
                    <h4>Product Information</h4>
                    <p><strong>Product Group:</strong> <span id="span-productcategory"></span></p>
                    <p><strong>Product Name:</strong> <span id="span-productname"></span></p>
                </div>
            </div>
        </section>
        <section id="side-popup-end">
            <button id="verifyBtn" class="clean-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m691-150 139-138-42-42-97 95-39-39-42 43 81 81ZM240-600h480v-80H240v80ZM720-40q-83 0-141.5-58.5T520-240q0-83 58.5-141.5T720-440q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40ZM120-80v-680q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v267q-19-9-39-15t-41-9v-243H200v562h243q5 31 15.5 59T486-86l-6 6-60-60-60 60-60-60-60 60-60-60-60 60Zm120-200h203q3-21 9-41t15-39H240v80Zm0-160h284q38-37 88.5-58.5T720-520H240v80Zm-40 242v-562 562Z"/></svg>
                <span>Verify</span>
            </button>
            <button id="editBtn" class="clean-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
                <span>Edit</span>
            </button>
            <button id="noteBtn" class="clean-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-400v-80h80v80h-80Zm-80-80v-80h80v80h-80Zm360-280v-80h80v80h-80ZM180-660h120v-120H180v120Zm-60 60v-240h240v240H120Zm60 420h120v-120H180v120Zm-60 60v-240h240v240H120Zm540-540h120v-120H660v120Zm-60 60v-240h240v240H600ZM360-400v-80h-80v-80h160v160h-80Zm40-200v-160h80v80h80v80H400Zm-190-90v-60h60v60h-60Zm0 480v-60h60v60h-60Zm480-480v-60h60v60h-60Zm-50 570v-120H520v-80h120v-120h80v120h120v80H720v120h-80Z"/></svg>
                <span>Delivery Note</span>
            </button>
        </section>
        <section id="danger-mark-sent">
            <button id="dangerBtn" class="clean-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z"/></svg>
                <span>Shipped without DDS</span>
            </button>
            <button id="doneBtn" class="clean-button">Done</button>
        </section>
    </div>
    <!--Camera Div Spot-->
</div>

<main class="page-content">
    <div class="section-header">
        <h1>Deliveries</h1>

        <div class="global-filter">
            <p class="filterTitle">Filter</p>
            <label class="filter-label">
                <select class="filter-choice-input">
                    <option value="global">Global</option>
                    <option value="not-attached">Del. (Not Attached)</option>
                    <option value="attached">Del. (Attached)</option>
                </select>
            </label>
            <p class="filterTitle">by</p>

            <label class="filter-label">
                <input type="text" class="filter-text-input" placeholder="Customer">
            </label>

            <div id="FilterForDDS">
                <label class="filter-label">
                    <span>DDS </span>
                    <input type="checkbox" id="ddsAvailable" name="ddsAvailable">
                </label>
            </div>
            <div class="timespan">
                <p>Between</p>
                <label class="filter-label">
                    <input type="date" id="from" class="date-search-input" placeholder="From">
                </label>
                <p>-</p>
                <label class="filter-label">
                    <input type="date" id="till" class="date-search-input" placeholder="Till">
                </label>
            </div>
            <div class="filter-buttons">
                <button id="resetFilterButton" class="clean-button">
                    <span class="material-icons">restart_alt</span>
                </button>
                <button id="applyFilterButton" class="clean-button">
                    <span class="material-icons">playlist_add_check</span>
                </button>
            </div>
        </div>

        <div class="global-actions">
            <label>
                <input type="text" id="searchInput" class="search-input" placeholder="Search Deliveries...">
            </label>
            <button id="refreshDeliveriesButton" class="clean-button">
                <i class="fas fa-rotate-right"></i>
            </button>
        </div>

    </div>

    <div class="delivery-panels">
        <!-- Left Panel -->
        <section class="left-panel">
            <div class="panel-header">
                <h2>Deliveries (DDS Not Attached)</h2>
                <div class="search-filter-wrapper">
                    <label for="searchInputLeft"></label>
                    <input type="text" id="searchInputLeft" data-table-id="activeDeliveriesTable" class="search-input" placeholder="Search Active Deliveries...">
                    <button class="filterConfig clean-button">
                        <i class="material-icons">settings</i>
                    </button>
                </div>
            </div>

            <div class="wrapper">
                <table id="activeDeliveriesTable" class="delivery-table">
                <thead>
                    <tr>
                        <th>Shipment Ref</th>
                        <th>DDS Ref</th>
                        <th>Customer</th>
                        <th>Order Date</th>
                        <th>Product Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${activeDeliveries}" class="clickable-row"
                        th:classappend="${#strings.isEmpty(order.ddsReferenceNumber)} ? 'red-outline' : ''"
                        th:attr="data-id=${order.id}, data-erpReferenceNumber=${order.erpReferenceNumber},
                                    data-ddsReferenceNumber=${order.ddsReferenceNumber},
                                    data-ddsOnDeliveryNote=${order.ddsOnDeliveryNote},
                                    data-orderDate=${order.orderDate},
                                    data-estimatedDeliveryDate=${order.estimatedDeliveryDate},
                                    data-orderDimensions=${order.dimensions},
                                    data-customerName=${order.customer.username},
                                    data-customerLocation=${order.customer.location},
                                    data-productCategory=${order.productCategory},
                                    data-productName=${order.productName}">
                        <td th:text="${order.erpReferenceNumber}"></td>
                        <td th:text="${#strings.isEmpty(order.ddsReferenceNumber) ? 'Denied' : order.ddsReferenceNumber}"></td>
                        <td th:text="${order.customer.username}"></td>
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.productName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Right Panel -->
        <section class="right-panel ">
            <div class="panel-header">
                <h2>Deliveries (DDS Attached)</h2>
                <div class="search-filter-wrapper">
                    <label for="searchInputRight"></label><input type="text" id="searchInputRight" class="search-input" placeholder="Search Attached Deliveries...">
                    <button class="filterConfig clean-button">
                        <i class="material-icons">settings</i>
                    </button>
                </div>
            </div>

            <div class="wrapper">
                <div class="attached-cards-container">
                    <div class="attached-card" th:each="order : ${attachedDeliveries}">
                        <div class="right-card-internal-data">
                            <h3 th:text="'Shipment Ref: ' + ${order.erpReferenceNumber}"></h3>
                            <p><strong>DDS Ref:</strong> <span th:text="${order.ddsReferenceNumber}"></span></p>
                            <p><strong>Customer:</strong> <span th:text="${order.customer.username}"></span></p>
                            <p><strong>Order Date:</strong> <span th:text="${order.orderDate}"></span></p>
                            <p><strong>Product:</strong> <span th:text="${order.productName}"></span></p>
                        </div>
                        <div class="right-card-internal-header" th:attr="data-order-id=${order.id}">
                            <button class="details-button" th:onclick="|window.location='/supplier/deliveries/details/${order.id}'|" title="Details">
                                <span class="material-icons">library_books</span>
                            </button>
                            <button class="done-button" type="button" title="Mark as Done" onclick="markAsShipped(this)">
                                <span class="material-icons">done</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<div id="statusPopup" class="status-popup">
    <div class="status-popup-content">
        <p>Order Status Updated</p>
        <button id="statusPopupCloseBtn" class="clean-button">Close</button>
    </div>
</div>

<div id="search-config-popup"></div>

<script type="module" src="/javascript/supplier/s-deliveries/open-side-pop.js"></script>
<script src="/javascript/non-specific/customTableSearch.js" ></script>
<script src="/javascript/supplier/s-deliveries/s-initializeTableSearch.js"></script>
<script src="/javascript/supplier/s-deliveries/s-refreshDeliveries.js"></script>
<script src="/javascript/supplier/s-deliveries/doneDeliveryLogic.js"></script>
<script src="/javascript/supplier/s-deliveries/s-globalFilter.js"></script>
<script src="/javascript/non-specific/account-menu.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>

</body>
</html>
