<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/non-specific/global.css">
    <link rel="stylesheet" href="/css/non-specific/header.css">
    <link rel="stylesheet" href="/css/testing.css">
    <link rel="stylesheet" href="/css/non-specific/side-pop.css">
    <title>Testing</title>

    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.152.2/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.152.2/examples/jsm/"
          }
        }
    </script>
    <script type="module" src="/javascript/testing.js"></script>
</head>
<body>

<div id="info">Click a shelf block to see its ID in the console</div>

<div id="productMenu" class="side-pop">
    <h3>Product Info</h3>
    <p id="productInfo">Details here...</p>
    <button id="closeMenuBtn">Close</button>
</div>

</body>
</html>
