.main {
    font-size: 0.8vw;
}

.deliveries-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.deliveries-header h1 {
    font-size: 2rem;
    color: #333;
}

.search-filter {
    display: flex;
    gap: 1rem;
}

.search-input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Table */
.deliveries-table table {
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

.deliveries-table th,
.deliveries-table td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.deliveries-table th {
    background-color: #eaeaed;
    color: #333;
    padding: 1.2rem 1rem;
    font-size: 0.9vw;
    font-weight: 600;
}

.deliveries-table td {
    background-color: white;
}

.deliveries-table td a {
    color: #7a6fbe;
    text-decoration: underline;
    font-weight: 500;
}

.deliveries-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.deliveries-table td a:hover {
    text-decoration: underline;
}

.highlight {
    background-color: rgba(0, 255, 255, 0.3);
    font-weight: bold;
}

.red-outline {
    border: 2px solid red !important;
}

@media (max-width: 1800px) {

    main {
        font-size: 0.9vmax;
    }

    .deliveries-table th {
        font-size: 1.3vmax;
        font-weight: bold;
    }
}

@media (max-width: 1200px) {
    main {
        font-size: 1.3vmax;
    }

    .deliveries-table th {
        font-size: 1.3vmax;
        font-weight: bold;
    }
}

/* Responsive Advanced Table */
@media (max-width: 900px) {
    main {
        font-size: 1.2rem !important;
    }

    .global-filter {
        display: none!important;
    }

    .deliveries-table table,
    .deliveries-table thead,
    .deliveries-table tbody,
    .deliveries-table th,
    .deliveries-table td,
    .deliveries-table tr {
        display: block;
    }

    .deliveries-table thead tr {
        display: none; 
    }

    .deliveries-table tr {
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem;
        background: #fff;
    }

    .deliveries-table td {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
        text-align: left;
        position: relative;
    }

    .deliveries-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: capitalize;
        color: #555;
        flex-basis: 30%;
        text-align: left;
        margin-right: 1rem;
        white-space: nowrap;
    }

    .deliveries-table td span {
        flex-grow: 1;
        text-align: right;
    }
}

th.sortable {
    cursor: pointer;
    position: relative;
}

th .sort-icon {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #666;
}

th.sorted-asc .sort-icon,
th.sorted-desc .sort-icon {
    color: #7a6fbe;
}



